  <div class="container-geral">
    <img src="assets/imagens/perfil.png" alt="">
    <h1 id="Nome">Júlio César</h1>
    <span id="Localizacao"></span>
    <div class="infos">
      <div class="icon-container">
          <span class="span-info"><fa-icon class="icon" [icon]="faPhone"></fa-icon>         85-999711016</span>
          <span class="span-info"><fa-icon class="icon" [icon]="faEnvelope"></fa-icon>         emailTeste@gmail.com</span>
        </div>
        <div class="biografia">
        <h2 id="Bio">Biografia</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn-chat"><fa-icon id="icon-chat" [icon]="faComment"></fa-icon>Chat</button>
      </div>
    </div>
  </div>
